{% extends 'base.html.twig' %}

{% block title %}Hello SondageController!{% endblock %}

{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-calendar"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DOODLE CST</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <div *ngIf="isUserLoggedIn">
                <!-- Nav Item - Dashboard -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/adddoodle">
                        <i class="fas fa-plus"></i>
                        <span>Créer un doodle</span></a>
                </li>

                <hr class="sidebar-divider">


                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/participer-liste">
                        <i class="fas fa-check"></i>
                        <span>Participer un doodle</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/mesdoodle">
                        <i class="fas fa-list"></i>
                        <span>Mes doodles</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

            </div>

        </ul>
        <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->


                        <!-- Nav Item - Alerts -->


                        <!-- Nav Item - Messages -->
                        {% if not app.user %}
                            <li class="nav-item dropdown no-arrow mx-1" *ngIf="!isUserLoggedIn">
                                <a href="/register" class="btn btn-primary">
                      <span class="icon text-white-50">
                        <i class="fas fa-user"></i>
                      </span>
                                    <span class="text ml-1">S'inscrire</span>
                                </a>
                            </li>

                            <li class="nav-item dropdown no-arrow mx-1" *ngIf="!isUserLoggedIn">
                                <a href="/login" class="btn btn-primary">
                      <span class="icon text-white-50">
                        <i class="fas fa-unlock"></i>
                      </span>
                                    <span class="text ml-1">Se connecter</span>
                                </a>
                            </li>

                        {% else %}
                            <li class="nav-item dropdown no-arrow mx-1" *ngIf="isUserLoggedIn">
                                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                                    <div class="sidebar-brand-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="sidebar-brand-text mx-3">{#{{ username }}#}</div>
                                </a>
                            </li>

                            <li class="nav-item dropdown no-arrow mx-1" *ngIf="isUserLoggedIn">
                                <a href="/logout" class="btn btn-primary">
                    <span class="icon text-white-50">
                      <i class="fas fa-lock"></i>
                    </span>
                                    <span class="text ml-1">Se deconnecter</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>


                <router-outlet></router-outlet>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; DOODLE CST 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}
